html {
    height: 100%;
    background: #fff;
}

body {
    background: #fff;
    font-family: 'Kameron', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

a {
        text-decoration: none;
        color: #3583ad;
}

.default {
	.banner {
		background: #3583ad;
		padding: 0 10%;
		padding-bottom: 2em;
		border-bottom: 1px solid #12374d;

		header {
	    	overflow: hidden;

		    h1 {
		        font-family: 'Courgette', cursive;
		        margin: 0;
		        text-shadow: 0 -1px 1px #12374D;
		        line-height: 3em;
		        font-size: 1em;
		        text-align: right;

		        @media screen and (min-width: $screenMed) {
		        	font-size: 3em;
		        }

				a {
		        	color: #ffcc44;

		        }
		    }
		}

		.intro {
				font-family: 'Lato', cursive;
				padding: 0;
				padding-bottom: 1.333333333em;
			    font-size: 1.5em;
			    font-weight: normal;
			    color: #e7e7e7;
			    line-height: 1.333333333em;
			    text-align: center;
			    margin: 0;

			    @media screen and (min-width: $screenMed) {
					font-size: 4.5em;
					padding: 0 10% 0.666666667em 10%;
			    }
		}

		nav {
			position: relative;
			overflow: auto;

			ul.nav {
				list-style-type: none;
				overflow: auto;
				margin: 0;
				padding: 0;
				padding-bottom: 2em;

				li {
					text-align: center;
					font-size: 1.25em;
					line-height: 1.6em;
					float: left;
					width: 33.3333333%;

					@media screen and (min-width: $screenMed) {

						font-size: 3em;
						line-height: 1.666666667em;
					}

					&.contact {

						font-size: 1.5em;
						line-height: 1.33333em;

						@media screen and (min-width: $screenMed) {
							font-size: 3.5em;
							line-height: 1.428571429em;
						}
					}

					a {
						display: block;

						&:link, &:visited {
							color: #0A557E;
							text-shadow: 0px 1px 1px #1293d9;
							transition: font-size 1s ease;
						}

						&:hover, &:active {
							color: #ffcc44;
							font-size: 1.1em;
						}
					}
				}
			}

			ul.social {
				list-style-type: none;
				overflow: auto;
				margin: 0;
				padding: 0;

				li {
					text-align: center;
					font-size: 1em;
					line-height: 1.5em;
					width: 100%;

					@media screen and (min-width: $screenMed) {
						float: left;
						width: 50%;
						font-size: 2em;
						line-height: 1em;
					}

						a {
							color: #fff;

							&:hover {
								color: #ffcc44;
							}
						}
				}
			}
		}
	}
}

.footnotes  {
    color: #696969;
    font-size: 0.875em;
	padding: 2.285714286em 10%;
	line-height: 1.714285714em;

    a {
    	color: #0A557E;
    }
}

.main .banner {

	overflow: auto;
	padding-bottom: 0.125em; // this is 2px! There are 14px under the nav (based on line height) so this extra keeps vertical rhythm

	header h1 {
		line-height: 1em;
		padding-top: 1em;
		padding-bottom: 0.125em;
	}

	nav ul.nav {
		padding: 0;

		li {
			line-height: 2.4em;

			&.contact {
				line-height: 2em;
			}
		}
	}

	@media screen and (min-width: $screenMed) {

	padding-left: 5%;
	padding-right: 5%;

		header, nav {
			width: 50%;
			float: right;
		}

		header h1 {
			font-size: 2em;
			padding: 0.5em 0;
		}

		nav ul.nav {
			li {
				font-size: 1.5em;
				line-height: 2.666666667em;

				&.contact {
					font-size: 1.75em;
					line-height: 2.285714286em;
				}
			}
		}
	}
}

.main .main-content {
	padding: 1.333333333em 10%;
	font-size: 1.5em;
	line-height: 1.333333333em;
	overflow: auto;
	border-bottom: 1em solid #ffcc44;
	color: #0A557E;

	h2 {
		margin: 0;
		padding: 0;
		color: #3583ad;
		font-family: 'Courgette', cursive;
	}

	.content-wrapper {
		overflow: auto;
	}

	img {
		border-radius: 50%;
		width: 80%;
		padding: 0 10%;
	}

	a {
		color: #ffcc44;
	}

	pre {
		border: 1px solid #ffcc44;
		border-left-width: 10px;
		padding: 1em;
		border-radius: 1em;
		overflow: auto;

		code {
			font-family: Consolas, "Lucida Console", Monaco, monospace;
			color: #667a85;
			font-size: 0.666666667em;
		}
	}

	@media screen and (min-width: $screenMed) {

		.about-intro, img {
			width: 40%;
			float: left;
			padding: 0 5%;
		}
	}

	.about-end {
		@include clearfix;
		margin-top: 1em;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		padding-top: 1.333333333em;

		li {
			padding: 1em 10%;
			margin-bottom: 2em;
			border-radius: 2em;
			border: 0.25em solid #ffcc44;
			background: #3583ad;
			color: #fff;
		}

		h3 {
			font-size: 1.25em;
			line-height: 1em;
			text-align: center;
			margin: 0;
			padding: 0;

			a {
				color: #0A557E;
				text-shadow: 0px 1px 1px #1293d9;

				&:hover {
					color: #ffcc44;
				}
			}
		}

		small {
			font-size: 0.583333333em;
			line-height: 2.285714286em;
		}
	}
}

.main .footnotes {

	padding: 1.142857143em 10%;
	overflow: auto;

	p {
		margin: 0;
		padding: 0;
	}

	@media screen and (min-width: $screenMed) {

		p, .social, .explain {
			width: 28.333333333%;
			float: left;
			padding: 2.285714286em 2.5%;
		}
	}

	.social {
		list-style-type: none;
		text-align: center;
		margin: 0;
		padding: 0;
	}
}