@include keyframes(menuDrop) {
	from {
		top: -500px;
	}
	to {
		top: 0;
	}
}

@include keyframes(slideLeft) {
	from {
		margin-left: -750px;
	}
	to {
		margin-left: 0;
	}
}

html {
    @include background-image(linear-gradient(rgba(53, 131, 173, 0.6), rgba(53, 131, 173, 0.6)), radial-gradient(tint(#ffcc44,60%), #3583ad, $shape-size: 'farthest-corner'));
}

body {
	height: 100%;
    font-family: 'Kameron', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;
    margin: 0;
    padding: 0;

}

a {
        text-decoration: none;
        color: #3583ad;
}

.default {
	.banner {
		overflow: hidden;
		background: #3583ad;
		padding-bottom: 2em;
		border-bottom: 1px solid #12374d;
		@include background-image(linear-gradient(rgba(53, 131, 173, 0.6), rgba(53, 131, 173, 0.6)), radial-gradient(tint(#ffcc44,60%), #3583ad, $shape-size: 'farthest-corner'));

		header {
	    	width: 120%;

		    h1 {
		        font-family: 'Comfortaa', sans-serif;
		        font-weight: 300;
		        margin: 0;
		        margin-top: -1.2%;
		        margin-left: -10%;
		        padding-bottom: 0.771938775em;
		        font-size: 4em;
		        line-height: 0.6em;
		        text-align: center;
		        width: 100%;
		        letter-spacing: -0.14em;

		        @media screen and (min-width: $screenMed) {
		        	font-size: 8.6em;
		        	padding-bottom: 0.717340539em;
		        	line-height: 0.45em;
					margin-top: 0.7%;
					margin-left: -1.75%;
					text-align: left;
		        }

				a {
		        	color: #ffcc44;
		        }
		    }
		}

		.intro {
				font-family: 'Six Caps', serif;
				padding: 0 5%;
				padding-top: 0.333333333em;
				padding-bottom: 0.666666666em;
			    font-size: 6em;
			    font-weight: normal;
			    color: #e7e7e7;
			    line-height: 1em;
			    text-align: center;
			    margin: 0;
			    letter-spacing: 0.025em;

			    @media screen and (min-width: $screenMed) {
					font-size: 10em;
					padding: 0.75em 10% 0.5em 10%;
			    }
		}

		nav {
			position: relative;
			overflow: visible;
			padding-bottom: 2.5em;

			ul.nav {
				list-style-type: none;
				overflow: auto;
				margin: 0;
				padding: 0;
				background: rgba(45, 46, 47, 0.05);
				border: 1px solid rgba(45, 46, 47, 0.1);
				border-left: 0;
				border-right: 0;
				@include animation(menuDrop 7s);
				position: absolute;
				width: 100%;

				li {
					text-align: center;
					font-size: 1.25em;
					line-height: 2.4em;
					float: left;
					width: 33.3333333%;

					@media screen and (min-width: $screenMed) {

						font-size: 3em;
						line-height: 2.5em;
					}

					// &.about {
					// 	@include animation(slideLeft 10s);
					// }

					&.contact {

						font-size: 1.5em;
						line-height: 2em;

						@media screen and (min-width: $screenMed) {
							font-size: 3.5em;
							line-height: 2.142857143em;
						}
					}

					a {
						display: block;

						&:link, &:visited {
							color: #0A557E;
							text-shadow: 0px 1px 1px #1293d9;
							transition: font-size 1s ease;
						}

						&:hover, &:active {
							color: #ffcc44;
							font-size: 1.1em;
						}
					}
				}
			}

			ul.social {
				list-style-type: none;
				overflow: hidden;
				margin: 0;
				padding: 0;

				li {
					text-align: center;
					font-size: 1em;
					line-height: 1.5em;
					width: 100%;

					@media screen and (min-width: $screenMed) {
						float: left;
						width: 50%;
						font-size: 2em;
						line-height: 1em;
					}

						a {
							color: #fff;

							&:hover {
								color: #ffcc44;
							}
						}
				}
			}
		}
	}
}

.footnotes  {
    color: #513b01;
	padding: 2em 10%;
	font-size: 1.25em;
	line-height: 1.6em;
	background: #ffcc44;
	@include linear-gradient(#ffcc44, tint(#ffcc44, 10%));

    a {
    	color: #0A557E;
    }

    img {
    	display: block;
    	margin: 0 auto;
    }
}

.main .banner {
	border: 0;
	background: none;
	overflow: auto;

	nav {
		padding-bottom: 1.25 * 2.4em;

		ul.nav {
			@include animation(none);
		}
	}

	@media screen and (min-width: $screenMed) {
		nav {
			padding-bottom: 3 * 2.5em;
		}
	}
}

.main .main-content {
	padding: 0 10%;
	font-size: 1.5em;
	line-height: 1.333333333em;
	// overflow: auto;
	border-bottom: 1em solid #ffcc44;
	color: #e7e7e7;
	min-height: 80%;

	.content-wrapper {
		overflow: auto;
	}

	img {
		border-radius: 50%;
		width: 80%;
		padding: 0 10%;
	}

	.post img {
		border-radius: 0;
	}

	a, h2 {
		color: #ffcc44;
	}

	pre {
		border: 1px solid #ffcc44;
		border-left-width: 10px;
		padding: 1em;
		border-radius: 1em;
		overflow: auto;
		background: #e7e7e7;

		code {
			font-family: Consolas, "Lucida Console", Monaco, monospace;
			color: #667a85;
			font-size: 0.666666667em;
		}
	}

	@media screen and (min-width: $screenMed) {

	.about-intro, img {
			width: 40%;
			float: left;
			padding: 0 5%;
		}
	}

	.post img {
		float: none;
	}

	.about-end {
		@include clearfix;
		margin-top: 1em;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		padding-top: 1.333333333em;

		li {
			padding: 1em 10%;
			margin-bottom: 2em;
			color: #fff;
			background: rgba(45, 46, 47, 0.05);
			border: 1px solid rgba(45, 46, 47, 0.1);
			border-left: 0;
			border-right: 0;
		}

		h3 {
			font-size: 1.25em;
			line-height: 1em;
			text-align: center;
			margin: 0;
			padding: 0;

			a {
				color: #0A557E;
				text-shadow: 0px 1px 1px #1293d9;

				&:hover {
					color: #ffcc44;
				}
			}
		}

		small {
			font-size: 0.583333333em;
			line-height: 2.285714286em;
		}
	}
}

.main .footnotes {

	padding: 1.142857143em 10%;
	overflow: auto;

	p, ul {
		margin: 0;
		padding: 1em 0;
	}

	@media screen and (min-width: $screenMed) {

		p, .social, .explain {
			width: 28.333333333%;
			float: left;
			padding: 0 2.5%;
		}
	}

	.social {
		list-style-type: none;
		text-align: center;
		margin: 0;
	}
}