html {
    height: 100%;
    background: #fff;
}

body {
    background: #fff;
    font-family: 'Kameron', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

a {
        text-decoration: none;
        color: #3583ad;
}

.default {
	.banner {
		background: #3583ad;
		padding: 3em 0;
		border-bottom: 1px solid #12374d;

		header {
	    	overflow: hidden;

		    h1 {
		        font-family: 'Courgette', sans-serif;
		        margin: 0;
		        padding-right: 10%;
		        text-shadow: 0 -2px 2px #12374D;
		        line-height: 1.5em;
		        font-size: 5em;
		        text-align: center;
		        @include transform(rotate(-5deg));

		        @media screen and (min-width: $screenMed) {
					line-height: 2.142857143em;
		        	font-size: 7em;
		        	text-align: right;
		        }

				a {
		        	color: #ffcc44;
		        }
		    }
		}

		.intro {
				font-family: 'Courgette', sans-serif;
				padding: 0.2666em 10%;
			    font-size: 3em;
			    font-weight: normal;
			    color: #e7e7e7;
			    line-height: 1.5em;
			    text-align: left;
			    margin: 0;

			    @media screen and (min-width: $screenMed) {
					font-size: 4em;
					line-height: 1.5em;
					padding: 0 10%;
			    }
		}

		nav {
			width: 60%;
			margin: 0 auto;
			position: relative;
			overflow: auto;

			ul.nav {
				list-style-type: none;
				overflow: auto;
				margin: 0;
				padding: 0;

				li {
					text-align: center;
					font-size: 1.5em;
					line-height: 2em;

					@media screen and (min-width: $screenMed) {
						float: left;
						width: 33.3333333%;
						font-size: 2em;
						line-height: 5em;
					}

					&.contact {

						font-size: 2em;
						line-height: 1.5em;

						@media screen and (min-width: $screenMed) {
							font-size: 3em;
							line-height: 3.333333333em;
						}
					}

					a {
						&:link, &:visited {
							color: #0A557E;
							text-shadow: 0px 1px 1px #1293d9;
							transition: font-size 1s ease;
						}

						&:hover, &:active {
							color: #ffcc44;
							font-size: 1.1em;
							// line-height: 3.333333333em;
						}
					}
				}
			}

			ul.social {
				list-style-type: none;
				overflow: auto;
				margin: 0;
				padding: 0;

				li {
					text-align: center;
					font-size: 1.25em;
					line-height: 1.6em;
					width: 100%;

					@media screen and (min-width: $screenMed) {
						float: left;
						width: 50%;
					}

						a {
							color: #fff;

							&:hover {
								color: #ffcc44;
							}
						}
				}
			}
		}
	}
}

.footnotes  {
    color: #696969;
    font-size: 0.875em;
	padding: 2.285714286em 10%;
	line-height: 1.714285714em;

    a {
    	color: #0A557E;
    }
}

.main .banner {

	overflow: auto;

	@media screen and (min-width: $screenMed) {
		header, nav {
			width: 50%;
			float: right;
		}
	}

	header h1 {
		font-size: 3em;
		line-height: 2em;
	}

	nav ul.nav li {
		line-height: 3em;

		&.contact {
			line-height: 2em;
		}
	}
}

.main .main-content {
	padding: 2em 10%;
	font-size: 1.5em;
	line-height: 1.333333333em;
	overflow: auto;
	border-bottom: 1em solid #ffcc44;
	color: #0A557E;

	h2 {
		margin: 0;
		padding: 0;
		font-size: 2em;
		line-height: 2em;
		color: #3583ad;
		font-family: 'Courgette', cursive;
	}

	.content-wrapper {
		overflow: auto;
	}

	img {
		border-radius: 50%;
		width: 80%;
		padding: 0 10%;
	}

	a {
		color: #ffcc44;
	}

	@media screen and (min-width: $screenMed) {

		.about-intro, img {
			width: 40%;
			float: left;
			padding: 0 5%;
		}
	}

	.about-end {
		@include clearfix;
		margin-top: 1em;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			padding: 1em 10%;
			margin-bottom: 2em;
			border-radius: 2em;
			border: 0.25em solid #ffcc44;
			background: #3583ad;
			color: #fff;
		}

		h3 {
			font-size: 1.333333333em;
			line-height: 1em;
			margin: 0;
			padding: 0;

			a {
				color: #0A557E;
				text-shadow: 0px 1px 1px #1293d9;

				&:hover {
					color: #ffcc44;
				}
			}
		}

		small {
			font-size: 0.583333333em;
			line-height: 2.285714286em;
		}
	}
}

.main .footnotes {

	padding: 1.142857143em 10%;
	overflow: auto;

	p {
		margin: 0;
		padding: 0;
	}

	@media screen and (min-width: $screenMed) {

		p, .social, .explain {
			width: 28.333333333%;
			float: left;
			padding: 2.285714286em 2.5%;
		}
	}

	.social {
		list-style-type: none;
		text-align: center;
		margin: 0;
	}
}