---
layout: default
title: nicleb.com - the personal website of Nic Le Breuilly
---
<section class="row col-md-10 col-md-offset-1">  
  <ul class="posts list-unstyled list-group">
    {% for post in site.posts %}
    <li class="list-group-item"><h2 class="list-group-item-heading"><a href="{{ post.url }}">{{ post.title }}</h2></a>
            <p class="list-group-item-text">{{ post.content | truncatewords: 25 }}</p>
          <ul class="list-inline">
              Tagged:
              {% for tag in post.tags %}
              <li>{{ tag }}</li>
              {% endfor %}
          </ul>
        </li>
    {% endfor %}
  </ul>
</section>