{% include header.html %}

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <header class="page-header">
              <h1 class="col-md-9 pull-left"><a href="/">{{ site.name }}</a><small> Web development for people like me</small></h1>
                <nav class="col-md-3 push-right">
                    <ul class="nav nav-pills">
                        <li class="{% if page.title == 'about' %} active {% endif %}"><a href="{{ site_url }}/about">about</a></li>
                        <li class="{% if page.title == 'contact' %} active {% endif %}"><a href="{{ site_url }}/contact">contact</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        
        <div class="container">
            {{ content }}
        </div>

{% include footer.html %}