{% include header.html %}

    <body class="default">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div>
            <section class=" banner">
                <header>
                  <h1><a href="/">nicleb design and development</a></h1>
                </header>
                <div>
                <nav>
                    <ul class="nav">
                        <li class="about"><a href="{{ site_url }}/about">about</a></li>
                        <li class="contact"><a href="{{ site_url }}/contact">contact</a></li>
                        <li class="writing"><a href="{{ site_url }}/writing">writing</a></li>
                    </ul>
                </nav>
                <p class="intro">I make engaging websites for interesting people</p>
                </div>
                <nav>
                    <ul class="social">
                        <li><a href="http://twitter.com/musonic" class="twitter"><i class="fa fa-twitter"></i> @musonic</a></li>
                        <li><a href="http://github.com/musonic" class="github"><i class="fa fa-github"></i> github/musonic</a></li>
                    </ul>
                </nav>
            <section>
        </div>

{% include footer.html %}
